.App {
  width: 100vw;
  height: calc(100vh - 58px);
  background: var(--background-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Layout{
  width: 400px;
  background: var(--background-light);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}